<!DOCTYPE html>
<html lang="en" xmlns:th=http://www.thymeleaf.org>
<head>
    <meta charset="UTF-8">
    <title>List Websites</title>

    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
          crossorigin="anonymous" />
</head>

<body>
<div class = "container">
    <h3>List Websites</h3>
    <hr/>

    <table class="table table-bordered table-striped">
        <thread>
            <tr>
                <th>ID</th>
                <th>url</th>
                <th>Scam Percentage</th>
                <th>Domain</th>
                <th>Website Name</th>
                <th>Similar Domain</th>
                <th>Virus Scan</th>
                <th>Redirected</th>
                <th>Secure</th>
                <th>Number of Reports</th>
                <th>LinkedIn Employees</th>
                <th>Age</th>

            </tr>
        </thread>

        <tbody>
        <tr th:each="website: ${wm}">
            <td th:text = "${website.id}"/>
                                <td th:text = "${website.url}"/>
                                <td th:text = "${website.scam_percentage}"/>
                                <td th:text = "${website.domain_name}"/>
                                <td th:text = "${website.website_name}"/>
                                <td th:text = "${website.similar_domain}"/>
                                <td th:text = "${website.virus_scan}"/>
                                <td th:text = "${website.redirected}"/>
                                <td th:text = "${website.secure}"/>
                                <td th:text = "${website.num_reports}"/>
                                <td th:text = "${website.linked_in_emps}"/>
                                <td th:text = "${website.age}"/>
        </tr>
        </tbody>

    </table>
</div>



</body>
</html>