<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Validate Status</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">

    <style>
        body{
            font-family: Candara;
            background-color: lightgrey;
        }


        label {
            display: inline-block;
            width: 300px;
            text-align: left;
        }



    </style>

</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span> <span
                    class="icon-bar"></span> <span class="icon-bar"></span> <span
                    class="icon-bar"></span>
            </button>
            <div id="navbar" class="collapse navbar-collapse">
                <a class="navbar-brand" href="#" th:href="@{/}">Home
                </a>

                <ul class="nav navbar-nav">

                    <li><a href="#" th:href="@{/list}">Website List</a></li>
                    <li><a href="#" th:href="@{/scamReports}">Scam Reports</a></li>
                    <li><a href="#" th:href="@{/userScamReport}">Report a Scam</a></li>
                    <li><a href="#" th:href="@{/expScamReport}">Verify Scam Reports</a></li>
                    <li><a href="#" th:href="@{/forumIndex}">Knowledge Hub</a></li>
                    <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></li>

                </ul>

            </div>
        </div>
    </div>
</nav>
<br>
<br>

<div align="center">
    <h1>Validate Status Here</h1>

    <h3>
        Please type y for yes and n for no.
    </h3>
    <form th:action="@{'/submit/' + ${id}}" method="post" th:object="${w}">

        <div>
            <label>Website name:</label>
            <input type="text" required th:field="*{website_name}"/><br/>
        </div>

        <div>
            <label>Website URL:</label>
            <input type="text" required th:field="*{url}"/><br/>
        </div>

        <div>
            <label>Domain:</label>
            <input type="text" required th:field="*{domain_name}"/><br/>
        </div>

        <div>
            <label>Virus Scan:</label>
            <input type="text" required maxlength="1"  th:field="*{virus_scan}"/><br/>


            <a href="https://www.isithacked.com/">(run a virus scan)</a>
            <br/>
        </div>


        <div>
            <label>Secure?: </label>
            <input type="text" required maxlength="1" th:field="*{secure}"/><br/>
            (look for little lock sign in front of url)

            <br/>
        </div>

        <div>
            <label>Linked in employees:</label>
            <input type="text" required maxlength="1" th:field="*{linked_in_emps}"/><br/>
        </div>


        <div class="container">
            <label>Is this website less than 1 year old?:</label>
            <input type="text" required maxlength="1" th:field="*{age}"/>

            <br>
            <a href="https://whois.domaintools.com/">(Find age)</a>

            <br/>
        </div>


        <div>
            <label>Redirects?:</label>
            <input type="text" required maxlength="1" th:field="*{redirected}"/><br/>
        </div>

        <div>
            <label>Similar url?:</label>
            <input type="text" required maxlength="1" th:field="*{similar_domain}"/><br/>
        </div>

        <div>
            <label>Unnecessary Popups?:</label>
            <input type="text" required maxlength="1" th:field="*{pop_ups}"/><br/>
        </div>

        <div>
            <label>Loaded with ads?:</label>
            <input type="text" required maxlength="1" th:field="*{ads}"/><br/>
        </div>

        <div>
            <label>Funky UI?:</label>
            <input type="text" required maxlength="1" th:field="*{funky_ui}"/><br/>
        </div>

        <div>
            <label>Flashy images?:</label>
            <input type="text" required maxlength="1" th:field="*{flashy_images}"/><br/>
        </div>

        <div>
            <label>offers gifts?:</label>
            <input type="text" required maxlength="1" th:field="*{offers_gifts}"/><br/>
        </div>

        <br>

        <span>Already validated? <a href="/static" th:href="@{/list}">View  here</a></span>

        <br>
        <button type="submit" class="button button1"> validate</button>
    </form>

    <!--    <form method="POST" th:action="@{'/submit/' + ${id}}">-->
    <!--    </form>-->
</div>






</body>
</html>