<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Validate Status</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">

    <style>
        div {
            margin: 10px;
        }

        label {
            display: inline-block;
            width: 150px;
            text-align: left;
        }
    </style>

</head>
<body>
<div align="center">
    <h1>Validate Status Here</h1>
    <br>
    <br/>
    <form th:action="@{'/submit/' + ${id}}" method="post" th:object="${w}">

        <div>
            <label>Unnecessary Popups?:</label>
            <input type="text" th:field="*{pop_ups}"/><br/>
        </div>

        <div>
            <label>Redirects?:</label>
            <input type="text" th:field="*{redirected}"/><br/>
        </div>

        <div>
            <label>Loaded with ads?:</label>
            <input type="text" th:field="*{ads}"/><br/>
        </div>

        <div>
            <label>Funky UI?:</label>
            <input type="text" th:field="*{funky_ui}"/><br/>
        </div>

        <div>
            <label>Flashy images?:</label>
            <input type="text" th:field="*{flashy_images}"/><br/>
        </div>

        <div>
            <label>offers gifts?:</label>
            <input type="text" th:field="*{offers_gifts}"/><br/>
        </div>

        <br>
        <br>

        <span>Already validated? <a href="/" th:href="@{/list}">View  here</a></span>

        <br>
        <button type="submit" class="button button1"> validate</button>
    </form>

<!--    <form method="POST" th:action="@{'/submit/' + ${id}}">-->
<!--    </form>-->
</div>


</body>
</html>