<!DOCTYPE html>
<html lang="en" xmlns:th=http://www.thymeleaf.org>
<head>
    <meta charset="ISO-8859-1">
    <title>List Websites</title>

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">

</head>
<style>
    table {
        counter-reset: tableCount;
        background: ghostwhite;
    }
    .counterCell:before {
        content: counter(tableCount);
        counter-increment: tableCount;
    }
    body{
        calc();
    }


     body{
         background: lightblue;
         font-family: Candara;

     }




</style>

<body>

<!-- create navigation bar ( header) -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span> <span
                    class="icon-bar"></span> <span class="icon-bar"></span> <span
                    class="icon-bar"></span>
            </button>
            <div id="navbar" class="collapse navbar-collapse">
                <a class="navbar-brand" href="#" th:href="@{/}">Home
                </a>

                <ul class="nav navbar-nav">

                    <li><a href="#" th:href="@{/list}">Website List</a></li>
                    <li><a href="#" th:href="@{/scamReports}">Scam Reports</a></li>
                    <li><a href="#" th:href="@{/userScamReport}">Report a Scam</a></li>
                    <li><a href="#" th:href="@{/expScamReport}">Verify Scam Reports</a></li>
                    <li><a href="#" th:href="@{/forumIndex}">Knowledge Hub</a></li>
                    <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></li>

                </ul>

            </div>
        </div>
    </div>
</nav>

<br>
<br>
<div align="center">
    <h1>
        Reported Scams
    </h1>
</div>


<div class = "container">

    <hr/>

    <table class="table table-bordered table-striped">
        <thread>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>URL</th>
                <th>Scam Percentage</th>
                <th>Domain</th>

                <th>Similar URL</th>
                <th>Virus Scan</th>
                <th>Redirected</th>
                <th>Secure</th>
                <th>LinkedIn Employees</th>
                <th>Age</th>
                <th>Popups</th>
                <th>ads</th>
                <th>Flashy Images</th>
                <th>Funky UI</th>
                <th>Offers Gifts</th>

            </tr>
        </thread>

        <tbody>
        <tr th:each="website: ${wm}">
<!--            <td th:text = "${website.id}"/>-->
            <td class="counterCell"></td>
            <td th:text = "${website.website_name}"/>
            <td th:text = "${website.url}"/>
            <td th:text = "${website.scam_percentage*100}"/>
            <td th:text = "${website.domain_name}"/>

            <td th:text = "${website.similar_domain}"/>
            <td th:text = "${website.virus_scan}"/>
            <td th:text = "${website.redirected}"/>
            <td th:text = "${website.secure}"/>
            <td th:text = "${website.linked_in_emps}"/>
            <td th:text = "${website.age}"/>
            <td th:text = "${website.pop_ups}"/>
            <td th:text = "${website.ads}"/>
            <td th:text = "${website.flashy_images}"/>
            <td th:text = "${website.funky_ui}"/>
            <td th:text = "${website.offers_gifts}"/>
        </tr>
        </tbody>

    </table>
</div>




</body>
</html>